.bdy{
    width: 100%; 
    height: 100%; 
    position: relative;
    background-image: linear-gradient(to bottom right, #e43cf0,orange, #a7eb42);
    

}
.intro{
    width: 100%;
    margin: auto;
    padding: 30px;
    position: relative;
    float: left;
    font-size: 40px;
}
.logo{
    float: right;
    width: 40%;
    padding: 25px;
    position: relative;
    left: 25px;
    margin: auto;
    
}

.rect{
    width: 90%;
    margin: 20px;
    background-color:rgba(0, 255, 115, 0.815);
    height: 30%;
    box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.2);
}



@media only screen and (max-width: 450px) {
    .rect{
        height:20%;
        
        
    }
    .intro{
        padding: 30px;
        font-size:20px;
        margin: auto;
    }
    .logo{
        width: 120%;
        float: right;
    }
    h1{
        font-size: 25px;
    }
}